/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    vertical-align: top;
    padding: 1.5vw;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    float: inline-start;
    font-weight: bold;
    vertical-align: middle;
    transition: transform 0.3s ease;
    overflow-wrap: wrap;
  }
  
  .topnav img {
    margin: 7.5px 15px;
  }
  
  .navlinks {
    padding: 16px 16px;
  }
  
  .pageslink {
    float: inline-start;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background: -webkit-linear-gradient(#f3cc84bf, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active:hover {
    color: white;
  }
  
  .rightalignment {
    float: inline-end;
  }
  
  .leftalignment {
    float: inline-start;
    }
  
  .set1 {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1vw;
    display: inline;
    padding: 1rem 0;
  }
  
  .image {
    padding-left: 5%;
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*Menu spesific*/
  .navbarMenu {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbarMenu li a {
    color: white;
    text-decoration: none;
  }
  
  .navbarToggle {
    display: none; /* Hide the toggle by default */
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 992px) {
    .navbarMenu {
      display: none; /* Hide the menu by default on small screens */
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      min-height: 1000vh;
      background-color: #333;
      transition: width 0.3s ease;
    }
  
    .navbarMenu li {
      text-align: center;
      padding: 1rem 0;
      border-bottom: 1px solid #444;
    }
  
    .navbarToggle {
      display: block; /* Show the toggle button on small screens */
      transition: transform 0.3s ease;
      text-align: center;
    }
  
    .navbarToggle:hover {
      transform: scale(1.2);
    }
  
    .navbarMenu.show {
      display: flex; /* Show the menu when the toggle is clicked */
    }
  }