.page {
  color: white;
  margin-top: 4vw;
}


.main {
  display: flex;
  flex-direction: column;
  
}

.parallaxcontainer {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  perspective: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: top;
  
  background-image: url('/backgroundmain.png'); /* Add your background image to the public folder */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  mix-blend-mode: difference;
  -webkit-background-clip: text;
  /* Firefox */
  background-clip: text;
}



.cutouttext {
  font-size: 5rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-fill-color: transparent;
  line-height: 1.5;
  margin-bottom: 80px;
}

.cutouttext1 {
  font-size: 2rem;
  font-weight: bold;
  color: gold;
  -webkit-text-fill-color: gold;
}

@media only screen and (max-width: 1320px) {
  .parallaxtext {
    background-attachment: scroll;
  }
}




.cta1 {
  padding: 10px 20px;
  background: inherit;
  color: white;
  border: dotted;
  margin: 1.5vw;
  opacity: 85%;
  border-Radius: 50px;
  font-Size: 2vw;
  font-weight: bold;
  cursor: pointer;
  border-color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.cta1:hover {
  opacity: 100%;
}

.cta2 {
  padding: 10px 20px;
  background: white;
  color: rgb(0, 0, 0);
  background-clip: padding-box;
  border: dotted;
  margin: 1.5vw;
  border-Radius: 50px;
  font-Size: 2vw;
  font-weight: bold;
  cursor: pointer;
  border-color: #fff;
  text-shadow:
    0 0 25px #fff;
  font-family: 'Times New Roman', Times, serif;
}

.cta2:hover {
  opacity: 85%;
}

.notfoundcss {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.notfoundcss a{
  color: lightblue;
}


/* Agitation 

.agitationcontainer {
  font-size: 1.5rem;
  max-width: 90vw;
  margin: auto;
  margin-top: 10vh;
  line-height: 1.5;
}

.agitationpoints {
  margin: 2vh;
  min-height: 20vh;
  display: flex;
  flex-wrap: wrap;
}


.agitationpoint {
  margin: 2vh;
  padding: 2vh;
  min-height: 20vh;
  width: 30%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: solid;
  border-color: gold;
}

.agitationpoint1 {
  background-color: rgba(0, 0, 0, 0.655);
  border-radius: 20px;
  min-height: 23vh;
  padding: 2vh;
  color: white;
}



.agitationpoint p{
  margin-top: 1vh;
  font-size: 2.35vh;
}

*/


.CTA1container {
  font-size: 1.75rem;
  width: 90vw;
  margin: auto;
  margin-top: 5vh;
  line-height: 10vh;
}


/* Distinctioon */

.distinctioncontainer {
  font-size: 1.75rem;
  width: 90vw;
  margin: auto;
  margin-top: 10vh;
}

.distinctionpoints {
  margin: 2vh;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.distinctionpoint {
  margin: 2vh;
  padding: 2vh;
  min-height: 20vh;
  border-radius: 20px;
  width: 30%;
  background-image: url('/backgroundmain.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.distinctionpoint1 {
  background-color: rgba(255, 255, 255, 0.908);
  border-radius: 20px;
  min-height: 20vh;
  padding: 2vh;
  color: black;
}

.distinctionpoint p{
  margin-top: 1vh;
  font-size: 2.35vh;
}



.testimonialscontatiner {
  display: flex;
  width: auto;
  margin: 5vw;
  justify-content: space-around;
}

.testimonial1 {
  display: flex;
  border-bottom: solid;
  border-color: white;
  padding: 10px 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.testimonial1  h2 {
  max-width: 40vw;
}

.testimonial1  img {
  margin-right: 2vw;
  border-radius: 98%;
}


@media only screen and (max-width: 950px) {
  .page {
    color: blue;
  }
}